body{
  background:#f4f6f9;
  font-family:Arial;
}

.container{
  width:400px;
  margin:50px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
}

button{
  width:100%;
  padding:12px;
  background:#007bff;
  color:white;
  border:none;
  cursor:pointer;
  border-radius:8px;
}

.result{
  margin-top:20px;
}